.container {
  display: flex;
  height: 2px;
  margin-bottom: 14px;

  & div {
    width: 100px;
    margin: 0 5px;
  }

  & .active {
    background-color: var(--color-ultramarine-blue);
    height: 2px !important;
  }

  & .inactive {
    background-color: var(--color-ghost);
    height: 2px !important;
  }
}
